.container-item-contact {
  width: 100%;
  height: auto;
}
.columns-content-item {
  display: grid;
  min-height: 38px;
  grid-template-columns: 1fr 40%;
}
.container-item-contact:hover {
//   background-color: aquamarine;
  cursor: pointer;
}
.link-text {
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: right;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: lighter;
  transform: translateX(102%);
  transition: 200ms;
}
.icon {
    display: flex;
    align-items: center;
    width: 100%;
  z-index: 1;
  overflow: hidden;
  transform-origin: right;
  transition: 300ms;
  background-color: var(--bg-dark-blue);
}
.icon >img{
    padding-left: 0.3rem;
    width: 10%;
    height: auto;
    transition: 300ms;
    // background-color: aliceblue;
}

.container-item-contact:hover .link-text {
    transform: translateX(0%);
    transition: 200ms;
}

.container-item-contact:hover .icon >img {
    transition: 300ms;
    padding-left: 1rem;
    
}