
    $white: rgb(56, 202, 42);
    $bg-black: rgb(15,15,15);
:root{
    --white: rgb(255, 255, 242);
    --gb-black: rgb(15,15,15);
    --bg-dark-blue: rgb(9, 16, 34);
    --paddingLeft: 2rem;
    --leftMargin: 10% 10%
}
$screen-sm-min: 0px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}