.container-items {
  width: 90%;
  height: 90%;
}
.items-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  text-align: left;
}
.items-container > small {
  letter-spacing: 0.4rem;
  font-weight: lighter;
  color: var(--white);
}
