@import "../../App.scss";
.container-page-2 {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.align-text {
  padding-right: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.align-text > small {
  @include sm {
    letter-spacing: 2rem;
  }
  letter-spacing: 2.8rem;
  font-weight: 100;
  font-size: 1.2rem;
  color: var(--white);
}
